on init
    chown system system /sys/panel_feature/hbm_mode

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.nothing
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
